
body {
    font-family: Arial, sans-serif;
    background-color:rgb(6, 114, 138);
    margin: 0;
    padding: 0;
}
header {
    background-color:rgb(4, 126, 151);
    color: #f99410;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 36px;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:rgb(125, 221, 241);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
p {
    font-size: 18px;
    line-height: 1.6;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    
    width: 200px;
    margin-top: 80px;
    display: block;
    border-radius: 200%;;
    padding: 50px 0;
}
h2, h3{
    text-decoration: none;
    color: #c89c62;
}
a{
    text-decoration: none;
    color: #f99410;
}
.col-1 img{
    width: 100px;
    margin-top: 40px;
    border-radius: 100%;;
    padding: 50px 0;
}

